<!--side navigation bar-->
          <div class="sidebar">
            <ul>
              <div>
                <button id="closebtn">
                  <i class="fas fa-hand-point-left"></i>
                </button>
              </div>
              <li><a id="dashboard" asp-controller="customer" asp-action="servicerequest">Dashboard</a></li>
              <li><a id="service-history" asp-controller="customer" asp-action="servicehistory">Service History</a></li>
              <li><a id="service-schedule" href="#">Service Schedule</a></li>
              <li><a id="favorite-sp" asp-controller="customer" asp-action="favouriteproviders">Favourite Pros</a></li>
              <li><a id="invoices" href="#">Invoices</a></li>
              <li><a id="notifications" href="#">Notifications</a></li>
            </ul>
          </div>