header {
  width: 100%;
}

.container-fluid {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

#header-image {
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

#about-us {
  margin-top: 32px;
}

.title {
  margin: 0;
  font: "Roboto";
  font-weight: 500;
  color: #4f4f4f;
  text-align: center;
}

.title-decoration {
  margin-top: 9px;
}

.title-decoration hr {
  margin-left: 0px;
  margin-right: 0px;
  width: 68px;
  color: #cccccc;
  height: 1px;
  margin-top: 12px;
}

.title-decoration img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

.paragraph div {
  margin-top: 35px;
  width: 64%;
}

.paragraph p {
  font: "Roboto";
  font-weight: 400;
}

#our-story {
  margin-top: 40px;
  margin-bottom: 48px;
}
