@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#header-image {
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

#contact-us {
  margin-top: 31px;
}
.title {
  margin: 0;
  font: "Roboto";
  font-weight: 500;
  font-size: 36px;
  color: #4f4f4f;
  font-weight: 500;
  text-align: center;
}

.title-decoration {
  margin-top: 9px;
}

.title-decoration hr {
  margin-left: 0px;
  margin-right: 0px;
  width: 68px;
  color: #cccccc;
  height: 1px;
  margin-top: 12px;
}

.title-decoration img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

#contact-option {
  column-gap: 140px;
  margin-top: 53px;
  row-gap: 30px;
}
.contact-option {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.contact-option span {
  font: "Roboto";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #4f4f4f;
}

.contact-divider {
  width: 100%;
  margin-top: 51px;
}

.contact-divider hr {
  width: 73%;
  height: 1px;
  color: #e1e1e1;
}

#form-section {
  margin-top: 74px;
}

form {
  margin-top: 23px;
  width: 614px;
}
#form-section-title {
  margin-bottom: 23px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0px;
  color: #4f4f4f;
  font: "Roboto";
  font-size: 28px;
}

#submit-btn {
  font: "Roboto";
  font-weight: 700;
  height: 46px;
  width: 163px;
  margin-top: 15px;
  color: white;
  background: #1d7a8c;
  border-radius: 23px;
  opacity: 1;
}

.form-group label {
  font: "Roboto";
  font-weight: 700;
  margin-bottom: 5px;
}

.form-group input[type="file"] {
  display: block;
}

#map-section {
  margin-top: 80px;
  margin-bottom: 43px;
}

iframe {
  width: 100%;
  height: 400px;
  opacity: 1;
}

.control-label {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 0px;
}

.form-group button {
  border-radius: 50px;
  border-color: #c6c6c6;
  color: #666;
  background: 0 0;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 25px;
  display: inline;
}

.upload-control {
  visibility: hidden;
}

.form-check-label {
  color: #4f4f4f;
  font-size: 14px;
}

.form-check-label a {
  color: #1d7a8c;
}

.form-check-label a:hover {
  text-decoration: none;
  color: l#1d7a8c;
}

@media screen and (max-width: 400px) {
  #contact-us,
  #form-section,
  #map-section {
    padding-right: 3px;
    padding-left: 3px;
  }
}
