.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 30px;
    row-gap: 5px;
    align-self: center;
}

.nav a{
    color: white;
    font-size: 12px;
    font-family: "Roboto-Regular";
    text-transform: uppercase;
}

.nav a:hover{
    text-decoration: none;
    color: blue;
}