@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  margin: 0;
  background-color: white;
}
header {
  width: 1560px;
  height: 64px;
  background: #525252 0% 0% no-repeat padding-box;
  opacity: 0.8;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  padding: 0;
  margin: 0;
  height: inherit;
  margin-left: 601px;
  display: flex;
  flex-direction: row;
}

.nav-item-1 {
  text-align: center;
  margin-top: 12px;
  margin-right: 10px;
  width: 111px;
  height: 40px;
  background: #29626d 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff80;
  border-radius: 20px;
  opacity: 1;
}

.nav-item-2 {
  text-align: center;
  margin-top: 12px;
  margin-right: 27px;
  width: 161px;
  height: 40px;
  border: 1px solid #ffffff80;
  border-radius: 20px;
  opacity: 1;
}

.nav-item-3 {
  text-align: center;
  margin-top: 12px;
  margin-right: 25px;
  opacity: 1;
}

.nav-item-4 {
  text-align: center;
  margin-top: 12px;
  margin-right: 25px;
  opacity: 1;
}

.nav-item-5 {
  text-align: center;
  margin-top: 12px;
  margin-right: 35px;
  opacity: 1;
}

.nav-item-6 {
  text-align: center;
  margin-top: 12px;
  margin-right: 10px;
  width: 83px;
  height: 40px;
  background: #29626d 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff80;
  border-radius: 20px;
  opacity: 1;
}

.nav-item-7 {
  text-align: center;
  margin-top: 12px;
  width: 161px;
  height: 40px;
  background: #29626d 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff80;
  border-radius: 20px;
  opacity: 1;
}

.nav-link {
  padding: 0;
  margin: 0;
  margin-top: 12px;
  font-size: 17px;
  font-family: "Roboto-Regular";
  color: white;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  margin-top: 6px;
  margin-left: 15px;
  width: 73px;
  height: 54px;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item-1,
  .nav-item-2,
  .nav-item-3,
  .nav-item-4,
  .nav-item-5,
  .nav-item-6,
  .nav-item-7 {
    margin: 0.5rem 0;
  }
}
