@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    margin: 0;
    background-color: white;
}
header{
    width: 1560px;
    height: 64px;
    background:#525252 0% 0% no-repeat padding-box;
    opacity: 0.8;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    padding:0;
    margin:0;
    height: inherit;
    margin-left: 601px;
    display: flex;
    flex-direction: row;
}

.nav-item-1{
    text-align: center;
    margin-top: 12px;
    margin-right: 10px;
    width: 111px;
    height: 40px;
    background: #29626D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
}

.nav-item-2{
    text-align: center;
    margin-top: 12px;
    margin-right: 27px;
    width: 161px;
    height: 40px;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
}

.nav-item-3{
    text-align: center;
    margin-top: 12px;
    margin-right: 25px;
    opacity: 1;
}

.nav-item-4{
    text-align: center;
    margin-top: 12px;
    margin-right: 25px;
    opacity: 1;
}

.nav-item-5{
    text-align: center;
    margin-top: 12px;
    margin-right: 35px;
    opacity: 1;
}

.nav-item-6{
    text-align: center;
    margin-top: 12px;
    margin-right: 10px;
    width: 83px;
    height: 40px;
    background: #29626D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
}

.nav-item-7{
    text-align: center;
    margin-top: 12px;
    width: 161px;
    height: 40px;
    background: #29626D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
}

.nav-link{
    padding:0;
    margin: 0;
    margin-top: 12px;
    font-size: 17px;
    font-family: "Roboto-Regular";
    color: white;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    margin-top: 6px;
    margin-left: 15px;
    width: 73px;
    height: 54px;
    opacity: 1;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item-1,.nav-item-2,.nav-item-3,.nav-item-4,.nav-item-5,.nav-item-6,.nav-item-7 {
        margin: 0.5rem 0;
    }
}


.newslatter{
    width: 1560px;
    height: 325px;
}

.nl-c{
    display: flex;
    flex-direction: row;
    height: 130px;
    width: inherit;
}

.nl-form{
    width: 332px;
    height: inherit;
    margin-left: 614px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.nl-form p{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    height: 21px;
    width: inherit;
    font-size: 14px;
    font-family: "Roboto-Medium";
    letter-spacing: 0px;
    color: #353548;
    opacity: 1;
}

.nl-form-input{
    width: 332px;
    height: 40px;
    margin-top: 16px;
    margin-bottom: 53px;
    display: flex;
    flex-direction: row;
}

.nl-form-input button{
    color: white;
    margin-left: 11px;
    width: 88px;
    height: 40px;
    background: #FF7B6D;
    border-radius: 20px;
    opacity: 1;
}

.email{
    padding-left: 22px;
    width: 233px;
    height: 40px;
    background: #F4F5F8;
    border: 1px solid #565656;
    border-radius: 20px;
    opacity: 1;
}

footer{
    width: 1560px;
    height: 195px;
    background: #111111;
}

.fc{
    display: flex;
    flex-direction: row;
    width: 1560px;
    height: 131px;
}

.footer-logo{
    width: 120px;
    height: 92px;
    margin-top:20px;
    margin-left: 115px;
}

.footer-navbar{
    background-color:transparent;
    width: 582px;
    height: 44px;
    text-align: left;
    letter-spacing: 0px;
    color: #F1F1F1;
    margin-top: 62px;
    margin-left: 254px;
}

.footer-navbar ul{
    padding:0;
    margin: 0;
}

.footer-navbar ul li{
    padding-right: 24px;
    font-size: 12px;
    font-family: "Roboto-Regular";
    text-transform: uppercase;
    display: inline;
    list-style-type: none;
}

.footer-navbar ul li a{
    margin: 0;
    padding: 0;
    color: white;
}
.sm-c{
    display: flex;
    flex-direction: row;
    width: 163px;
    height: 20px;
    margin-left: 317px;
    margin-top: 61px;
}

.ic-facebook{
    width: 9px;
    height: 18px;
}

.ic-instagram{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

footer p{
    color: white;
    font-size: 14px;
    font-family: "Roboto-Regular";
    margin-top: 25px;
    margin-left: 536px;
    width: 493px;
    height: 16px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}



