.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.divider-line {
  margin: 0;
  width: 100%;
  height: 1px;
  color: #4f4f4f;
}

.welcome-user {
  width: 100%;
  height: 119px;
  background-color: #f9f9f9;
  border: 1px solid #e1e1e1 !important;
}

#user-title {
  color: #4f4f4f;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.main-content {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

#openbtn {
  background-color: #1d7a8c;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  border-color: transparent;
  color: white;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
  align-self: flex-start;
  display: none;
  margin-top: 10px;
}

#closebtn {
  display: none;
}

.my-ratings {
  width: 861px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

/*table {
    border: 1px solid #e1e1e1 !important;
    border-bottom: 0px !important;
}*/

thead {
  display: none;
  background-color: #f9f9f9;
}

thead tr th {
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  color: #646464;
  border-bottom: 1px solid #e1e1e1 !important;
}

tbody > tr {
  margin-bottom: 35px !important;
  display: block;
  padding: 15px;
  box-shadow: 0 0 6px rgb(0 0 0 / 25%);
}

td {
  vertical-align: middle;
  font-weight: 400;
  font-size: 16px;
  color: #646464;
  width: auto !important;
  /*border-bottom: 1px solid #e1e1e1 !important;*/
  padding: 5px 17px !important;
  padding-left: 0px !important;
}

td {
  width: auto !important;
  white-space: nowrap !important;
}

.date-column {
  width: 100% !important;
}

.comment {
  width: 100% !important;
  display: block;
  border-top: 1px solid #e1e1e1 !important;
}

.dataTables_paginate {
  height: 38px;
  background: #ffffff;
  padding: 0 !important;
}

.dataTables_paginate span a,
.dataTables_paginate a {
  width: 38px;
  height: 38px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 14px;
  font-weight: 400;
  color: #646464 !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 50% !important;
  margin-left: 1px !important;
  margin-right: 1px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #1d7a8c !important;
  color: #ffffff !important;
}

#spModal {
  width: auto;
  height: auto;
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.modal-dialog {
  background-color: white;
}

.modal-header {
  background-color: white;
  border: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.modal-title {
  font-weight: 700;
  color: #4c4c4c;
}

.srd-modal-dialog {
  width: 700px;
}

.service-request-detail h5 {
  margin: 0px;
  color: #4f4f4f;
  font-weight: 700;
}

.service-request-detail span {
  font-weight: 400;
  color: #4f4f4f;
  font-size: 16px;
}

@media screen and (min-width: 576px) {
  .srd-modal-dialog {
    max-width: 700px;
  }
}

@media screen and (max-width: 700px) {
  #spModal {
    width: 100%;
    padding: 10px;
  }

  .srd-modal-dialog {
    width: inherit;
  }
}

@media screen and (max-width: 1139px) {
  .sidebar {
    position: fixed;
    left: 0;
    z-index: 1;
    display: none;
  }

  #openbtn,
  #closebtn {
    display: block;
  }

  #closebtn {
    margin-left: auto;
  }
}

@media screen and (max-width: 1123px) {
  .main-content {
    width: 100% !important;
  }

  .my-ratings {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .my-ratings #table_id {
    width: 100% !important;
  }
}

@media screen and (max-width: 450px) {
  td {
    display: block !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 600px) {
  .record-filter {
    justify-content: center !important;
  }
}
