.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.divider-line {
  margin: 0;
  width: 100%;
  height: 1px;
  color: #4f4f4f;
}

.welcome-user {
  width: 100%;
  height: 119px;
  background-color: #f9f9f9;
  border: 1px solid #e1e1e1 !important;
}

#user-title {
  color: #4f4f4f;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.main-content {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

#openbtn {
  background-color: #1d7a8c;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  border-color: transparent;
  color: white;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
  align-self: flex-start;
  display: none;
  margin-top: 10px;
}

#closebtn {
  display: none;
}

.upcoming-request {
  width: 861px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.cancel-btn,
.complete-btn,
.modal-cancel-btn,
.modal-complete-btn,
.modal-accept-btn {
  width: auto;
  height: 34px;
  text-align: center;
  background: #146371;
  border-radius: 17px;
  color: white;
  border-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  display: inline-flex;
  align-items: center;
}

.cancel-btn {
  background: indianred;
}
.cancel-btn:hover {
  background-color: indianred;
  border-color: transparent;
}

.complete-btn:hover {
  background-color: #146371;
  border-color: transparent;
}

.modal-cancel-btn {
  background: indianred;
}

.modal-cancel-btn:hover {
  background: indianred;
  border-color: transparent;
}

.modal-complete-btn:hover {
  background: #146371;
  border-color: transparent;
}

.modal-accept-btn {
  background: #8fd400;
}

.modal-accept-btn:hover {
  background: #8fd400;
  border-color: transparent;
}

.service-request-detail .modal-accept-btn > span, .service-request-detail .modal-cancel-btn > span, .service-request-detail .modal-complete-btn > span {
    color: white !important;
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
}

table {
  border: 1px solid #e1e1e1 !important;
  border-bottom: 0px !important;
}

thead {
  background-color: #f9f9f9;
}

thead tr th {
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  color: #646464;
  border-bottom: 1px solid #e1e1e1 !important;
}

td {
  vertical-align: middle;
  font-weight: 400;
  font-size: 16px;
  color: #646464;
  border-bottom: 1px solid #e1e1e1 !important;
  padding: 20px 17px !important;
}

div.row {
  padding: 15px 0px !important;
  background-color: white;
}

.dataTables_paginate {
  height: 38px;
  background: #ffffff;
  padding: 0 !important;
}

.dataTables_paginate span a,
.dataTables_paginate a {
  width: 38px;
  height: 38px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 14px;
  font-weight: 400;
  color: #646464 !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 50% !important;
  margin-left: 1px !important;
  margin-right: 1px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #1d7a8c !important;
  color: #ffffff !important;
}

#spModal {
  width: auto;
  height: auto;
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.modal-dialog {
  background-color: white;
}

.modal-header {
  background-color: white;
  border: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.modal-title {
  font-weight: 700;
  color: #4c4c4c;
}

.srd-modal-dialog {
  width: 700px;
}

.service-request-detail h5 {
  margin: 0px;
  color: #4f4f4f;
  font-weight: 700;
}

.service-request-detail span {
  font-weight: 400;
  color: #4f4f4f;
  font-size: 16px;
}

.payment-text {
  color: #1d7a8c !important;
  font-size: 24px !important;
  font-weight: 700 !important;
}

@media screen and (min-width: 576px) {
  .srd-modal-dialog {
    max-width: 700px;
  }
}

@media screen and (max-width: 700px) {
  #spModal {
    width: 100%;
    padding: 10px;
  }

  .srd-modal-dialog {
    width: inherit;
  }
}

@media screen and (max-width: 1139px) {
  .sidebar {
    position: fixed;
    left: 0;
    z-index: 1;
    display: none;
  }

  #openbtn,
  #closebtn {
    display: block;
  }

  #closebtn {
    margin-left: auto;
  }
}

@media screen and (max-width: 1123px) {
  .main-content {
    width: 100% !important;
  }

  .upcoming-request {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .upcoming-request table {
    width: 100% !important;
  }
}

@media screen and (max-width: 600px) {
  .record-filter {
    justify-content: center !important;
  }
}
