@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

#sectionRegister {
  margin-top: 50px;
}

.title {
  margin: 0;
  font-weight: 700;
  color: #4f4f4f;
  text-align: center;
  font-size: 28px;
}

.title-decoration {
  margin-top: 9px;
}

.title-decoration hr {
  margin-left: 0px;
  margin-right: 0px;
  width: 68px;
  color: #646464;
  height: 1px;
  margin-top: 12px;
}

.title-decoration img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

form {
  width: 624px;
  margin-top: 25px;
  color: #4f4f4f;
}

form input[type="submit"] {
  text-align: center;
  background-color: #1d7a8c;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  border-color: transparent;
  border: 0px;
}

form input[type="submit"]:hover {
  background-color: #1d7a8c;
  border: 0px;
}

form a {
  text-decoration: none;
  color: #1d7a8c;
  font-weight: 500;
}

form a:hover {
  color: #1d7a8c;
}

.btn-primary:disabled, .btn-primary.disabled {
    color: #fff;
    background-color: #1d7a8c;
    opacity: 0.7;
    border-color: transparent;
    cursor: no-drop;
    pointer-events: visible;
}

@media screen and (max-width: 624px) {
  form {
    width: 90%;
  }
}
