@using HelperlandProject.Models.ViewModels
@model ForgotPasswordViewModel
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Forgot password</h4>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form id="forgetPasswordForm">
          @Html.Raw(@ViewBag.Alert)
        <div class="row mb-3">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Email address"
              asp-for="Email"
            />
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
          </div>
        </div>
        <div class="row mb-3">
          <div class="form-group">
            <!--<input class="btn btn-primary" type="submit" value="Send" />-->
            <button type="button" class="btn btn-primary" onclick="forgotPasswordPostRequest();">Submit</button>
          </div>
        </div>
        <div class="row text-center">
          <a onclick="loadLoginPopUp('True');">Login now</a>
        </div>
      </form>
    </div>
  </div>
</div>
