<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Forgot password</h4>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form id="forgetPasswordForm" method="post">
        <div class="row mb-3">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="Email address"
            />
          </div>
        </div>
        <div class="row mb-4">
          <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Send" />
          </div>
        </div>
        <div class="row text-center">
          <a href="">Login now</a>
        </div>
      </form>
    </div>
  </div>
</div>
