@using HelperlandProject.Models.ViewModels
@model ResetPasswordViewModel

@{ ViewData["Title"] = "Reset Password"; Layout = "~/Views/Home/_Layout.cshtml";
} 
@section AddToHead{
<link
  rel="stylesheet"
  href="~/css/account/reset-password.css"
  asp-append-version="true"
/>
}
<section id="resetPassword">
  <div class="d-flex justify-content-center px-1">
      @Html.Raw(@ViewBag.Alert)
    <form method="post">
      <div class="row mb-3">
        <div class="col-12">
          <label class="form-label"
            >New Password</label
          >
          <input
            type="password"
            class="form-control"
            asp-for="Password"
            placeholder="Password"
          />
          @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            asp-for="ConfirmPassword"
            placeholder="Confirm Password"
          />
          @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input class="btn btn-primary px-3" type="submit" value="Save" />
        </div>
      </div>
    </form>
  </div>
</section>

@section AddAfterFooter{
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
      $("footer").hide();
      $("header .navbar").css("background", "rgba(82, 82, 82, 1)");
    </script>
}
