@{ ViewData["Title"] = "Reset Password"; Layout = "~/Views/Home/_Layout.cshtml";
} 
@section AddToHead{
<link
  rel="stylesheet"
  href="~/css/account/reset-password.css"
  asp-append-version="true"
/>
}
<section id="resetPassword">
  <div class="d-flex justify-content-center px-1">
    <form action="">
      <div class="row mb-3">
        <div class="col-12">
          <label for="exampleInputEmail1" class="form-label"
            >New Password</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Password"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label for="exampleInputEmail1" class="form-label"
            >Confirm Password</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Confirm Password"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input class="btn btn-primary px-3" type="submit" value="Save" />
        </div>
      </div>
    </form>
  </div>
</section>

@section AddAfterFooter{
<script src="~/lib/jquery/jquery.js"></script>
<script>
  $("footer").hide();
  $("header .navbar").css("background", "rgba(82, 82, 82, 1)");
</script>
}
