@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

#main-image {
  width: 100%;
}

#book-service {
}
