<!--side navigation bar-->
          <div class="sidebar">
            <ul>
              <div>
                <button id="closebtn">
                  <i class="fas fa-hand-point-left"></i>
                </button>
              </div>
              <li><a id="dashboard" asp-controller="serviceprovider" asp-action="dashboard">Dashboard</a></li>
              <li><a id="new-service-request" asp-controller="serviceprovider" asp-action="newservicerequest">New Service Requests</a></li>
              <li><a id="upcoming-services" asp-controller="serviceprovider" asp-action="upcomingservices">Upcoming Services</a></li>
              <li><a id="service-schedule" href="#">Service Schedule</a></li>
              <li><a id="service-history" asp-controller="serviceprovider" asp-action="servicehistory">Service History</a></li>
              <li><a id="my-ratings" asp-controller="serviceprovider" asp-action="myratings">My Ratings</a></li>
              <li><a id="block-customer" asp-controller="serviceprovider" asp-action="blockcustomer">Block Customer</a></li>
              <li><a id="invoices" href="#">Invoices</a></li>
              <li><a id="notifications" href="#">Notifications</a></li>
            </ul>
          </div>